<?xml version="1.0" encoding="UTF-8"?>
        <!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.electronic.dao.smapper.interfaces.SDeptElectronicDocMapper">
<resultMap id="BaseResultMap" type="com.electronic.dao.smapper.bo.SDeptElectronicDoc">
    <id column="doc_id" property="docId" jdbcType="INTEGER" />
    <result column="dept_id" property="deptId" jdbcType="INTEGER" />
    <result column="work_order_id" property="workOrderId" jdbcType="INTEGER" />
    <result column="doc_name" property="docName" jdbcType="VARCHAR" />
    <result column="doc_url" property="docUrl" jdbcType="VARCHAR" />
    <result column="doc_type" property="docType" jdbcType="VARCHAR" />
    <result column="doc_random_name" property="docRandomName" jdbcType="VARCHAR" />
    <result column="status" property="status" jdbcType="VARCHAR" />
    <result column="remark" property="remark" jdbcType="VARCHAR" />
    <result column="operate_id" property="operateId" jdbcType="INTEGER" />
    <result column="operate_time" property="operateTime" jdbcType="TIMESTAMP" />
</resultMap>



    <select id="selectByDeptId" resultMap="BaseResultMap" parameterType="com.electronic.dao.smapper.bo.SDeptElectronicDoc">
        SELECT * FROM (SELECT t1.dept_id,t1.work_order_id,t2.* FROM dept_electronic_doc t1 left JOIN electronic_doc t2 ON t1.doc_id = t2.doc_id ) t3 where 1=1
        <if test="deptId != null and deptId !=''" >
           and t3.dept_id = #{deptId,jdbcType=INTEGER}
        </if>
        <if test="docName != null and docName !=''" >
            and t3.doc_name LIKE "%"#{docName}"%"
        </if>
        <if test="startTime != null and startTime !=''">
            and t3.operate_time <![CDATA[ >= ]]> #{startTime}
        </if>
        <if test="endTime != null and endTime !=''">
            and t3.operate_time <![CDATA[ <= ]]> #{endTime}
        </if>
        order by t3.operate_time desc
        <if test="startSize != null">
            limit #{startSize} , #{pageSize}
        </if>
    </select>

    <select id="selectCountByDeptId" resultType="java.lang.Integer" parameterType="com.electronic.dao.smapper.bo.SDeptElectronicDoc">
        select count(*) from (SELECT t1.dept_id,t2.* FROM dept_electronic_doc t1 left JOIN electronic_doc t2 ON t1.doc_id = t2.doc_id) t3 where 1=1
        <if test="deptId != null and deptId !=''" >
            and t3.dept_id = #{deptId,jdbcType=INTEGER}
        </if>
        <if test="docName != null and docName !=''" >
            and t3.doc_name LIKE "%"#{docName}"%"
        </if>

        <if test="startTime != null and startTime !=''">
            and t3.operate_time <![CDATA[ >= ]]> #{startTime}
        </if>
        <if test="endTime != null and endTime !=''">
            and t3.operate_time  <![CDATA[ <= ]]> #{endTime}

        </if>

        ORDER BY t3.operate_time DESC
    </select>



</mapper>
