<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.electronic.dao.smapper.interfaces.SUserElectronicDocMapper">
    <resultMap id="BaseResultMap" type="com.electronic.dao.smapper.bo.SUserElectronicDoc">
        <id column="doc_id" property="docId" jdbcType="INTEGER"/>
        <result column="user_id" property="userId" jdbcType="INTEGER" />
        <result column="doc_name" property="docName" jdbcType="VARCHAR" />
        <result column="doc_url" property="docUrl" jdbcType="VARCHAR" />
        <result column="doc_type" property="docType" jdbcType="VARCHAR" />
        <result column="doc_random_name" property="docRandomName" jdbcType="VARCHAR" />
        <result column="status" property="status" jdbcType="VARCHAR" />
        <result column="remark" property="remark" jdbcType="VARCHAR" />
        <result column="operate_id" property="operateId" jdbcType="INTEGER" />
        <result column="operate_time" property="operateTime" jdbcType="TIMESTAMP" />
        <result column="count" property="count" jdbcType="INTEGER" />
    </resultMap>


    <select id="selectByUserId" resultMap="BaseResultMap">
        select * from ( select t1.user_id,t2.* from user_electronic_doc t1 left join electronic_doc t2
        on t1.doc_id = t2.doc_id) t3 where 1=1
        <if test="userId != null  and userId !=''">
            and t3.user_id = #{userId,jdbcType=INTEGER}
        </if>
        <if test="docName != null  and docName !=''">
            and t3.doc_name LIKE "%"#{docName}"%"
        </if>
        <if test="startTime != null  and startTime !=''">
            and t3.operate_time <![CDATA[ >= ]]> #{startTime}
        </if>
        <if test="endTime != null  and endTime !=''">
            and t3.operate_time  <![CDATA[ <= ]]> #{endTime}
        </if>
        order by t3.operate_time desc
        <if test="startSize != null  ">
            limit #{startSize} , #{pageSize}
        </if>


    </select>

    <select id="selectCountByUserId" resultType="java.lang.Integer">
        select count(*) from ( select t1.user_id,t2.* from user_electronic_doc t1 left join electronic_doc t2
        on t1.doc_id = t2.doc_id ) t3 where 1=1
        <if test="userId != null and userId !=''" >
            and t3.user_id = #{userId,jdbcType=INTEGER}
        </if>
        <if test="docName != null and docName !=''">
            and t3.doc_name LIKE "%"#{docName}"%"
        </if>
        <if test="startTime != null and startTime !=''">
            and t3.operate_time <![CDATA[ >= ]]> #{startTime}
        </if>
        <if test="endTime != null and endTime !=''">
            and t3.operate_time  <![CDATA[ <= ]]> #{endTime}
        </if>
    </select>


    <select id="selectDocTypeCountByUserId" parameterType="java.lang.Integer" resultMap="BaseResultMap">
        SELECT doc_type, count(*) as count FROM (
            SELECT t1.user_id,t2.* from user_electronic_doc t1 , electronic_doc t2 where t1.doc_id = t2.doc_id
        ) t3 where t3.user_id = #{userId,jdbcType=INTEGER} GROUP BY t3.doc_type
    </select>


</mapper>
