<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.electronic.dao.mapper.interfaces.ElectronicDocMapper" >
  <resultMap id="BaseResultMap" type="com.electronic.dao.mapper.bo.ElectronicDoc" >
    <id column="doc_id" property="docId" jdbcType="INTEGER" />
    <result column="doc_name" property="docName" jdbcType="VARCHAR" />
    <result column="doc_url" property="docUrl" jdbcType="VARCHAR" />
    <result column="doc_type" property="docType" jdbcType="VARCHAR" />
    <result column="doc_random_name" property="docRandomName" jdbcType="VARCHAR" />
    <result column="status" property="status" jdbcType="VARCHAR" />
    <result column="remark" property="remark" jdbcType="VARCHAR" />
    <result column="operate_id" property="operateId" jdbcType="INTEGER" />
    <result column="operate_time" property="operateTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    doc_id, doc_name, doc_url, doc_type, doc_random_name, status, remark, operate_id, 
    operate_time
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.electronic.dao.mapper.bo.ElectronicDocExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from electronic_doc
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from electronic_doc
    where doc_id = #{docId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from electronic_doc
    where doc_id = #{docId,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.electronic.dao.mapper.bo.ElectronicDocExample" >
    delete from electronic_doc
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.electronic.dao.mapper.bo.ElectronicDoc" >
    <selectKey resultType="java.lang.Integer" keyProperty="docId" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into electronic_doc (doc_name, doc_url, doc_type, 
      doc_random_name, status, remark, 
      operate_id, operate_time)
    values (#{docName,jdbcType=VARCHAR}, #{docUrl,jdbcType=VARCHAR}, #{docType,jdbcType=VARCHAR}, 
      #{docRandomName,jdbcType=VARCHAR}, #{status,jdbcType=VARCHAR}, #{remark,jdbcType=VARCHAR}, 
      #{operateId,jdbcType=INTEGER}, #{operateTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.electronic.dao.mapper.bo.ElectronicDoc" >
    <selectKey resultType="java.lang.Integer" keyProperty="docId" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into electronic_doc
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="docName != null" >
        doc_name,
      </if>
      <if test="docUrl != null" >
        doc_url,
      </if>
      <if test="docType != null" >
        doc_type,
      </if>
      <if test="docRandomName != null" >
        doc_random_name,
      </if>
      <if test="status != null" >
        status,
      </if>
      <if test="remark != null" >
        remark,
      </if>
      <if test="operateId != null" >
        operate_id,
      </if>
      <if test="operateTime != null" >
        operate_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="docName != null" >
        #{docName,jdbcType=VARCHAR},
      </if>
      <if test="docUrl != null" >
        #{docUrl,jdbcType=VARCHAR},
      </if>
      <if test="docType != null" >
        #{docType,jdbcType=VARCHAR},
      </if>
      <if test="docRandomName != null" >
        #{docRandomName,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        #{status,jdbcType=VARCHAR},
      </if>
      <if test="remark != null" >
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="operateId != null" >
        #{operateId,jdbcType=INTEGER},
      </if>
      <if test="operateTime != null" >
        #{operateTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.electronic.dao.mapper.bo.ElectronicDocExample" resultType="java.lang.Integer" >
    select count(*) from electronic_doc
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update electronic_doc
    <set >
      <if test="record.docId != null" >
        doc_id = #{record.docId,jdbcType=INTEGER},
      </if>
      <if test="record.docName != null" >
        doc_name = #{record.docName,jdbcType=VARCHAR},
      </if>
      <if test="record.docUrl != null" >
        doc_url = #{record.docUrl,jdbcType=VARCHAR},
      </if>
      <if test="record.docType != null" >
        doc_type = #{record.docType,jdbcType=VARCHAR},
      </if>
      <if test="record.docRandomName != null" >
        doc_random_name = #{record.docRandomName,jdbcType=VARCHAR},
      </if>
      <if test="record.status != null" >
        status = #{record.status,jdbcType=VARCHAR},
      </if>
      <if test="record.remark != null" >
        remark = #{record.remark,jdbcType=VARCHAR},
      </if>
      <if test="record.operateId != null" >
        operate_id = #{record.operateId,jdbcType=INTEGER},
      </if>
      <if test="record.operateTime != null" >
        operate_time = #{record.operateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update electronic_doc
    set doc_id = #{record.docId,jdbcType=INTEGER},
      doc_name = #{record.docName,jdbcType=VARCHAR},
      doc_url = #{record.docUrl,jdbcType=VARCHAR},
      doc_type = #{record.docType,jdbcType=VARCHAR},
      doc_random_name = #{record.docRandomName,jdbcType=VARCHAR},
      status = #{record.status,jdbcType=VARCHAR},
      remark = #{record.remark,jdbcType=VARCHAR},
      operate_id = #{record.operateId,jdbcType=INTEGER},
      operate_time = #{record.operateTime,jdbcType=TIMESTAMP}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.electronic.dao.mapper.bo.ElectronicDoc" >
    update electronic_doc
    <set >
      <if test="docName != null" >
        doc_name = #{docName,jdbcType=VARCHAR},
      </if>
      <if test="docUrl != null" >
        doc_url = #{docUrl,jdbcType=VARCHAR},
      </if>
      <if test="docType != null" >
        doc_type = #{docType,jdbcType=VARCHAR},
      </if>
      <if test="docRandomName != null" >
        doc_random_name = #{docRandomName,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=VARCHAR},
      </if>
      <if test="remark != null" >
        remark = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="operateId != null" >
        operate_id = #{operateId,jdbcType=INTEGER},
      </if>
      <if test="operateTime != null" >
        operate_time = #{operateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where doc_id = #{docId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.electronic.dao.mapper.bo.ElectronicDoc" >
    update electronic_doc
    set doc_name = #{docName,jdbcType=VARCHAR},
      doc_url = #{docUrl,jdbcType=VARCHAR},
      doc_type = #{docType,jdbcType=VARCHAR},
      doc_random_name = #{docRandomName,jdbcType=VARCHAR},
      status = #{status,jdbcType=VARCHAR},
      remark = #{remark,jdbcType=VARCHAR},
      operate_id = #{operateId,jdbcType=INTEGER},
      operate_time = #{operateTime,jdbcType=TIMESTAMP}
    where doc_id = #{docId,jdbcType=INTEGER}
  </update>
</mapper>